<div class="new_hero_banner_main mt-2">
  <div class="container">
    <div class="new_hero_banner_row">
      <div class="new_hero_banner_info_block">
        <ul class="new_hero_banner_logo_slide as-seen">
          <li class="new_hero_banner_logo_item">
            <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M32.5597 28.768L32.3877 29.656H32.3577C32.1277 29.14 31.4697 28.453 30.0657 28.453C27.7737 28.453 25.4527 30.229 24.9377 33.008C24.4797 35.443 25.6827 37.592 28.3757 37.592C29.3787 37.592 30.5257 37.192 31.0977 36.36H31.1277L30.9557 37.277H33.4757L35.0517 28.739H32.5597V28.768ZM31.7577 33.008C31.5857 33.838 30.8127 35.214 29.2077 35.214C27.6607 35.214 27.3457 33.839 27.4877 33.064C27.6597 32.09 28.5477 30.858 30.0077 30.858C31.4407 30.858 31.9277 32.004 31.7557 33.008H31.7577ZM36.5137 28.768H38.8917L38.7197 29.656H38.7497C39.0647 29.256 39.6377 28.453 41.1277 28.453L40.6697 31.033C39.4667 31.063 38.5697 31.291 38.3777 32.609L37.4897 37.309H34.8897L36.5137 28.768ZM42.8457 25.416H45.4257L44.2227 31.862H44.2797L47.2297 28.768H50.2377L46.3127 32.521L48.5757 37.306H45.6817L44.0197 33.18H43.9997L43.2257 37.306H40.6757L42.8457 25.416ZM54.3457 28.453C51.7657 28.453 49.4457 30.688 49.0157 33.066C48.5577 35.586 50.2477 37.593 52.7117 37.593C53.6283 37.5888 54.5242 37.32 55.2917 36.819C56.0937 36.332 56.8387 35.587 57.4417 34.642H54.8347C54.4047 35.1 53.9177 35.444 53.1147 35.444C52.1117 35.444 51.3947 34.842 51.4147 33.84H57.8147C57.9007 33.64 57.9297 33.496 57.9867 33.18C58.4737 30.544 56.9557 28.453 54.3457 28.453ZM51.7657 32.093C51.9657 31.577 52.6537 30.633 54.0007 30.633C55.3187 30.633 55.6627 31.578 55.6627 32.093H51.7657ZM21.1577 37.306H23.7077V25.406H21.5297L17.0027 32.166H16.9727V25.406H14.7957L6.80273 37.306H9.89673L14.3947 30.546H14.4247V37.306H16.6307L21.1007 30.546H21.1577V37.306ZM64.4777 28.768H62.8737L63.3317 26.248H61.0967L60.9247 27.222C60.7247 28.339 60.0367 28.682 59.0907 28.769H59.0607L58.6607 30.689H59.9207L58.6887 37.289H61.2387L62.4707 30.689H64.1037L64.4777 28.768Z" fill="white" fill-opacity="0.1"></path>
              <path d="M104.014 34.0699C103.184 36.0179 101.178 37.5939 98.8857 37.5939C96.3057 37.5939 94.6737 35.5599 95.1607 33.0099C95.6187 30.4899 97.9406 28.4549 100.519 28.4549C102.782 28.4549 104.319 29.9729 104.359 32.0549H101.779C101.607 31.4529 101.235 30.8519 100.146 30.8519C98.9427 30.7949 97.9396 31.7969 97.7106 33.0019C97.4806 34.2339 98.1107 35.1789 99.3437 35.1789C100.404 35.1789 101.044 34.5769 101.407 34.0329H104.014V34.0699ZM82.8137 22.3799L77.8577 25.4169H79.2617L74.7636 32.1769H74.7066V25.4169H72.4996L67.9996 32.1779H67.9697V25.4179H65.3896V37.3179H67.6246L72.1227 30.5579H72.1526V37.3179H74.3587L82.3236 25.4179H83.5836L82.8137 22.3799ZM87.6836 37.3069H85.1637L85.3356 36.3899H85.3056C84.7036 37.2199 83.5856 37.6219 82.5836 37.6219C79.8616 37.6219 78.6877 35.4719 79.1457 33.0379C79.6617 30.2579 82.0107 28.4829 84.2737 28.4829C85.6777 28.4829 86.3367 29.1709 86.5657 29.6859H86.5956L86.7676 28.7979H89.2877L87.6836 37.3069ZM83.3857 35.2169C84.9617 35.2169 85.7636 33.8419 85.9356 33.0109C86.1076 31.9809 85.6207 30.8609 84.1877 30.8609C82.7277 30.8609 81.8376 32.0929 81.6676 33.0669C81.4956 33.8689 81.8396 35.2169 83.3876 35.2169H83.3857ZM95.6757 28.7709H94.0716L94.5296 26.2509H92.2946L92.1227 27.2249C91.9227 28.3419 91.2347 28.6849 90.2887 28.7719H90.2587L89.8867 30.6919H91.1467L89.9146 37.2919H92.4646L93.6966 30.6919H95.3297L95.6757 28.7709ZM106.42 25.4189H108.97L108.196 29.6589H108.226C108.77 28.8569 109.516 28.4559 110.633 28.4559C111.435 28.4559 112.353 28.7709 112.783 29.4009C113.327 30.2309 113.27 30.9769 112.983 32.5239L112.095 37.2799H109.545L110.405 32.6399C110.491 32.2399 110.72 30.8349 109.375 30.8349C107.942 30.8349 107.713 32.1249 107.627 32.5549L106.739 37.2819H104.219L106.42 25.4189Z" fill="#43ae47" fill-opacity="0.3"></path>
            </svg>
          </li>
          <li class="new_hero_banner_logo_item">
            <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="">
              <path d="M20.3071 39.4246V26.9045L15.5398 39.4246H13.3814L8.58303 26.9045V39.4246H3.69922V20.4912H10.4852L14.4605 30.938L18.4047 20.4912H25.1907V39.4246H20.3071Z" fill="#04a8e1" fill-opacity="0.3"></path>
              <mask id="mask0_32_31928" style="mask-type:luminance" maskunits="userSpaceOnUse" x="-185" y="-14826" width="1678" height="15235">
              <path d="M-184.192 408.225H1492.89V-14825.3H-184.192V408.225Z" fill="#04a8e1"></path>
              </mask>
              <g mask="">
              <path d="M34.8964 39.4209V38.0621C34.0424 39.0831 32.3963 39.7703 30.6377 39.7703C28.5414 39.7703 25.9248 38.3222 25.9248 35.2554C25.9248 31.9361 28.5375 30.8297 30.6377 30.8297C32.4546 30.8297 34.0734 31.4276 34.8964 32.4486V31.0898C34.8964 29.898 33.8754 29.0711 32.1129 29.0711C30.7542 29.0711 29.3877 29.6146 28.2813 30.5463L26.6624 27.5105C28.4249 26.0042 30.7775 25.3831 32.8816 25.3831C36.1737 25.3831 39.2677 26.602 39.2677 30.8569V39.4209H34.8964ZM34.8964 35.8998V34.6808C34.4422 34.0286 33.4212 33.7102 32.4507 33.7102C31.3171 33.7102 30.265 34.2227 30.265 35.2631C30.265 36.3035 31.3132 36.8548 32.4507 36.8548C33.4212 36.8548 34.4384 36.517 34.8964 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
              <path d="M39.5742 37.6352L41.3911 34.514C42.7719 35.6098 44.4568 36.2537 46.2166 36.358C47.521 36.358 48.0606 35.9892 48.0606 35.3875C48.0606 33.6871 40.0867 35.4457 40.0867 29.8826C40.0867 27.4679 42.183 25.3676 45.9603 25.3676C48.2896 25.3676 50.2191 26.1441 51.6943 27.1845L50.025 30.2786C49.2019 29.4827 47.6413 28.7762 45.9953 28.7762C44.9704 28.7762 44.2871 29.1722 44.2871 29.7079C44.2871 31.2103 52.2339 29.6497 52.2339 35.271C52.2339 37.8837 49.9357 39.7549 46.0225 39.7549C43.5534 39.7549 41.0261 38.9319 39.5781 37.6275M62.0946 39.421V31.4432C62.0946 29.7739 61.2133 29.2304 59.8235 29.2304C58.5424 29.2304 57.6961 29.9408 57.1836 30.5659V39.421H52.8123V20.4878H57.1836V27.3864C58.0066 26.4158 59.6294 25.3676 61.9198 25.3676C65.0411 25.3676 66.462 27.1263 66.462 29.6536V39.421H62.0946Z" fill="#04a8e1" fill-opacity="0.3"></path>
              <path d="M76.0507 39.4209V38.0621C75.1967 39.0831 73.5506 39.7703 71.792 39.7703C69.6957 39.7703 67.0791 38.3222 67.0791 35.2554C67.0791 31.9361 69.6918 30.8297 71.792 30.8297C73.6089 30.8297 75.2277 31.4276 76.0507 32.4486V31.0898C76.0507 29.898 75.0297 29.0711 73.2672 29.0711C71.9085 29.0711 70.542 29.6146 69.4356 30.5463L67.8167 27.5105C69.5792 26.0042 71.9318 25.3831 74.0359 25.3831C77.328 25.3831 80.422 26.602 80.422 30.8569V39.4209H76.0507ZM76.0507 35.8998V34.6808C75.5965 34.0286 74.5755 33.7102 73.605 33.7102C72.4714 33.7102 71.4193 34.2227 71.4193 35.2631C71.4193 36.3035 72.4675 36.8548 73.605 36.8548C74.5755 36.8548 75.5926 36.517 76.0507 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
              <path d="M81.9287 39.4208V20.4876H86.3V27.328C86.7789 26.7094 87.395 26.2107 88.0998 25.8711C88.8045 25.5316 89.5785 25.3604 90.3607 25.3713C93.7964 25.3713 96.4052 28.0656 96.4052 32.5533C96.4052 37.2119 93.7382 39.7625 90.3607 39.7625C89.5831 39.7622 88.8153 39.589 88.1129 39.2553C87.4106 38.9216 86.7913 38.4358 86.3 37.833V39.4208H81.9287ZM88.9166 35.8997C90.648 35.8997 91.9524 34.6186 91.9524 32.5533C91.9524 30.5074 90.648 29.2302 88.9166 29.2302C87.9848 29.2302 86.8435 29.7426 86.3039 30.4802V34.6846C86.8474 35.461 87.981 35.8997 88.9166 35.8997Z" fill="#04a8e1" fill-opacity="0.3"></path>
              </g>
              <path d="M97.0264 20.4912H101.398V39.4246H97.0264V20.4912ZM102.02 32.5544C102.02 28.5791 105.002 25.3724 109.288 25.3724C113.348 25.3724 116.299 28.3539 116.299 33.0087V34.0024H106.535C106.846 35.2214 107.983 36.2463 109.967 36.2463C110.934 36.2463 112.525 35.818 113.317 35.0817L115.219 37.9468C113.856 39.1697 111.586 39.7637 109.486 39.7637C105.258 39.7637 102.02 37.0113 102.02 32.5547M109.288 28.8938C107.385 28.8938 106.648 30.0273 106.477 31.0212H112.125C112.013 30.0546 111.302 28.8938 109.288 28.8938Z" fill="#04a8e1" fill-opacity="0.3"></path>
              </g>
              <defs>
              <clippath id="clip0_32_31928">
              <rect width="120" height="60" fill="white"></rect>
              </clippath>
              </defs>
            </svg>
          </li>
          <li class="new_hero_banner_logo_item">
            <svg width="125" height="60" viewbox="0 0 125 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M105.25 21.406V38.656H113.75C116.125 38.656 117.5 38.281 118.5 37.406C119.75 36.281 120.375 34.281 120.375 30.031C120.375 25.781 119.75 23.781 118.5 22.656C117.5 21.781 116.125 21.406 113.75 21.406H105.25ZM116.875 30.031C116.875 33.781 116.625 34.656 115.875 35.156C115.375 35.531 114.75 35.656 113.5 35.656H108.75V24.281H113.5C114.75 24.281 115.375 24.281 115.875 24.781C116.625 25.406 116.875 26.281 116.875 30.031ZM124.75 42.469H99.812V17.531H124.75V42.469ZM79.438 24.281V21.406H94.188V26.906H91.062V24.281H85.062V28.406H89.812V31.156H85.062V35.781H91.188V32.781H94.312V38.656H79.439V35.781H81.813V24.281H79.438ZM66.063 34.156C66.063 36.031 66.187 37.406 66.437 38.531H69.813C69.687 37.656 69.563 36.031 69.563 33.906C69.437 31.406 68.687 31.031 66.937 30.656C68.937 30.281 69.813 29.406 69.813 26.281C69.813 23.781 69.437 22.781 68.687 22.156C68.187 21.656 67.313 21.406 65.937 21.406H55.437V38.656H58.937V31.906H63.813C64.813 31.906 65.187 32.031 65.563 32.281C65.939 32.531 66.063 32.906 66.063 34.156ZM58.937 29.156V24.406H64.563C65.313 24.406 65.563 24.531 65.687 24.656C65.937 24.906 66.187 25.281 66.187 26.781C66.187 28.281 65.937 28.781 65.687 29.031C65.563 29.156 65.313 29.281 64.563 29.281L58.937 29.156ZM74.813 42.469H49.813V17.531H74.75V42.469H74.813ZM43.313 35.781V38.656H31.437V35.781H35.687V24.281H31.437V21.406H43.312V24.281H39.062V35.781H43.313ZM23.25 21.406H20L17.625 35.031L14.875 22.406C14.75 21.531 14.375 21.406 13.625 21.406H11.875C11.125 21.406 10.75 21.656 10.625 22.406L7.875 35.031L5.5 21.406H2L5.375 37.781C5.5 38.531 5.75 38.656 6.625 38.656H9C9.75 38.656 10 38.531 10.25 37.781L12.875 25.906L15.5 37.781C15.625 38.531 15.875 38.656 16.75 38.656H19C19.75 38.656 20.125 38.531 20.25 37.781L23.25 21.406ZM25 42.469H0V17.531H24.938V42.469H25Z" fill="white" fill-opacity="0.1"></path>
            </svg>
          </li>
          <li class="new_hero_banner_logo_item">
            <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M32.5597 28.768L32.3877 29.656H32.3577C32.1277 29.14 31.4697 28.453 30.0657 28.453C27.7737 28.453 25.4527 30.229 24.9377 33.008C24.4797 35.443 25.6827 37.592 28.3757 37.592C29.3787 37.592 30.5257 37.192 31.0977 36.36H31.1277L30.9557 37.277H33.4757L35.0517 28.739H32.5597V28.768ZM31.7577 33.008C31.5857 33.838 30.8127 35.214 29.2077 35.214C27.6607 35.214 27.3457 33.839 27.4877 33.064C27.6597 32.09 28.5477 30.858 30.0077 30.858C31.4407 30.858 31.9277 32.004 31.7557 33.008H31.7577ZM36.5137 28.768H38.8917L38.7197 29.656H38.7497C39.0647 29.256 39.6377 28.453 41.1277 28.453L40.6697 31.033C39.4667 31.063 38.5697 31.291 38.3777 32.609L37.4897 37.309H34.8897L36.5137 28.768ZM42.8457 25.416H45.4257L44.2227 31.862H44.2797L47.2297 28.768H50.2377L46.3127 32.521L48.5757 37.306H45.6817L44.0197 33.18H43.9997L43.2257 37.306H40.6757L42.8457 25.416ZM54.3457 28.453C51.7657 28.453 49.4457 30.688 49.0157 33.066C48.5577 35.586 50.2477 37.593 52.7117 37.593C53.6283 37.5888 54.5242 37.32 55.2917 36.819C56.0937 36.332 56.8387 35.587 57.4417 34.642H54.8347C54.4047 35.1 53.9177 35.444 53.1147 35.444C52.1117 35.444 51.3947 34.842 51.4147 33.84H57.8147C57.9007 33.64 57.9297 33.496 57.9867 33.18C58.4737 30.544 56.9557 28.453 54.3457 28.453ZM51.7657 32.093C51.9657 31.577 52.6537 30.633 54.0007 30.633C55.3187 30.633 55.6627 31.578 55.6627 32.093H51.7657ZM21.1577 37.306H23.7077V25.406H21.5297L17.0027 32.166H16.9727V25.406H14.7957L6.80273 37.306H9.89673L14.3947 30.546H14.4247V37.306H16.6307L21.1007 30.546H21.1577V37.306ZM64.4777 28.768H62.8737L63.3317 26.248H61.0967L60.9247 27.222C60.7247 28.339 60.0367 28.682 59.0907 28.769H59.0607L58.6607 30.689H59.9207L58.6887 37.289H61.2387L62.4707 30.689H64.1037L64.4777 28.768Z" fill="white" fill-opacity="0.1"></path>
              <path d="M104.014 34.0699C103.184 36.0179 101.178 37.5939 98.8857 37.5939C96.3057 37.5939 94.6737 35.5599 95.1607 33.0099C95.6187 30.4899 97.9406 28.4549 100.519 28.4549C102.782 28.4549 104.319 29.9729 104.359 32.0549H101.779C101.607 31.4529 101.235 30.8519 100.146 30.8519C98.9427 30.7949 97.9396 31.7969 97.7106 33.0019C97.4806 34.2339 98.1107 35.1789 99.3437 35.1789C100.404 35.1789 101.044 34.5769 101.407 34.0329H104.014V34.0699ZM82.8137 22.3799L77.8577 25.4169H79.2617L74.7636 32.1769H74.7066V25.4169H72.4996L67.9996 32.1779H67.9697V25.4179H65.3896V37.3179H67.6246L72.1227 30.5579H72.1526V37.3179H74.3587L82.3236 25.4179H83.5836L82.8137 22.3799ZM87.6836 37.3069H85.1637L85.3356 36.3899H85.3056C84.7036 37.2199 83.5856 37.6219 82.5836 37.6219C79.8616 37.6219 78.6877 35.4719 79.1457 33.0379C79.6617 30.2579 82.0107 28.4829 84.2737 28.4829C85.6777 28.4829 86.3367 29.1709 86.5657 29.6859H86.5956L86.7676 28.7979H89.2877L87.6836 37.3069ZM83.3857 35.2169C84.9617 35.2169 85.7636 33.8419 85.9356 33.0109C86.1076 31.9809 85.6207 30.8609 84.1877 30.8609C82.7277 30.8609 81.8376 32.0929 81.6676 33.0669C81.4956 33.8689 81.8396 35.2169 83.3876 35.2169H83.3857ZM95.6757 28.7709H94.0716L94.5296 26.2509H92.2946L92.1227 27.2249C91.9227 28.3419 91.2347 28.6849 90.2887 28.7719H90.2587L89.8867 30.6919H91.1467L89.9146 37.2919H92.4646L93.6966 30.6919H95.3297L95.6757 28.7709ZM106.42 25.4189H108.97L108.196 29.6589H108.226C108.77 28.8569 109.516 28.4559 110.633 28.4559C111.435 28.4559 112.353 28.7709 112.783 29.4009C113.327 30.2309 113.27 30.9769 112.983 32.5239L112.095 37.2799H109.545L110.405 32.6399C110.491 32.2399 110.72 30.8349 109.375 30.8349C107.942 30.8349 107.713 32.1249 107.627 32.5549L106.739 37.2819H104.219L106.42 25.4189Z" fill="#43ae47" fill-opacity="0.3"></path>
            </svg>
          </li>
          <li class="new_hero_banner_logo_item">
            <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="">
              <path d="M20.3071 39.4246V26.9045L15.5398 39.4246H13.3814L8.58303 26.9045V39.4246H3.69922V20.4912H10.4852L14.4605 30.938L18.4047 20.4912H25.1907V39.4246H20.3071Z" fill="#04a8e1" fill-opacity="0.3"></path>
              <mask id="mask0_32_31928" style="mask-type:luminance" maskunits="userSpaceOnUse" x="-185" y="-14826" width="1678" height="15235">
              <path d="M-184.192 408.225H1492.89V-14825.3H-184.192V408.225Z" fill="#04a8e1"></path>
              </mask>
              <g mask="">
              <path d="M34.8964 39.4209V38.0621C34.0424 39.0831 32.3963 39.7703 30.6377 39.7703C28.5414 39.7703 25.9248 38.3222 25.9248 35.2554C25.9248 31.9361 28.5375 30.8297 30.6377 30.8297C32.4546 30.8297 34.0734 31.4276 34.8964 32.4486V31.0898C34.8964 29.898 33.8754 29.0711 32.1129 29.0711C30.7542 29.0711 29.3877 29.6146 28.2813 30.5463L26.6624 27.5105C28.4249 26.0042 30.7775 25.3831 32.8816 25.3831C36.1737 25.3831 39.2677 26.602 39.2677 30.8569V39.4209H34.8964ZM34.8964 35.8998V34.6808C34.4422 34.0286 33.4212 33.7102 32.4507 33.7102C31.3171 33.7102 30.265 34.2227 30.265 35.2631C30.265 36.3035 31.3132 36.8548 32.4507 36.8548C33.4212 36.8548 34.4384 36.517 34.8964 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
              <path d="M39.5742 37.6352L41.3911 34.514C42.7719 35.6098 44.4568 36.2537 46.2166 36.358C47.521 36.358 48.0606 35.9892 48.0606 35.3875C48.0606 33.6871 40.0867 35.4457 40.0867 29.8826C40.0867 27.4679 42.183 25.3676 45.9603 25.3676C48.2896 25.3676 50.2191 26.1441 51.6943 27.1845L50.025 30.2786C49.2019 29.4827 47.6413 28.7762 45.9953 28.7762C44.9704 28.7762 44.2871 29.1722 44.2871 29.7079C44.2871 31.2103 52.2339 29.6497 52.2339 35.271C52.2339 37.8837 49.9357 39.7549 46.0225 39.7549C43.5534 39.7549 41.0261 38.9319 39.5781 37.6275M62.0946 39.421V31.4432C62.0946 29.7739 61.2133 29.2304 59.8235 29.2304C58.5424 29.2304 57.6961 29.9408 57.1836 30.5659V39.421H52.8123V20.4878H57.1836V27.3864C58.0066 26.4158 59.6294 25.3676 61.9198 25.3676C65.0411 25.3676 66.462 27.1263 66.462 29.6536V39.421H62.0946Z" fill="#04a8e1" fill-opacity="0.3"></path>
              <path d="M76.0507 39.4209V38.0621C75.1967 39.0831 73.5506 39.7703 71.792 39.7703C69.6957 39.7703 67.0791 38.3222 67.0791 35.2554C67.0791 31.9361 69.6918 30.8297 71.792 30.8297C73.6089 30.8297 75.2277 31.4276 76.0507 32.4486V31.0898C76.0507 29.898 75.0297 29.0711 73.2672 29.0711C71.9085 29.0711 70.542 29.6146 69.4356 30.5463L67.8167 27.5105C69.5792 26.0042 71.9318 25.3831 74.0359 25.3831C77.328 25.3831 80.422 26.602 80.422 30.8569V39.4209H76.0507ZM76.0507 35.8998V34.6808C75.5965 34.0286 74.5755 33.7102 73.605 33.7102C72.4714 33.7102 71.4193 34.2227 71.4193 35.2631C71.4193 36.3035 72.4675 36.8548 73.605 36.8548C74.5755 36.8548 75.5926 36.517 76.0507 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
              <path d="M81.9287 39.4208V20.4876H86.3V27.328C86.7789 26.7094 87.395 26.2107 88.0998 25.8711C88.8045 25.5316 89.5785 25.3604 90.3607 25.3713C93.7964 25.3713 96.4052 28.0656 96.4052 32.5533C96.4052 37.2119 93.7382 39.7625 90.3607 39.7625C89.5831 39.7622 88.8153 39.589 88.1129 39.2553C87.4106 38.9216 86.7913 38.4358 86.3 37.833V39.4208H81.9287ZM88.9166 35.8997C90.648 35.8997 91.9524 34.6186 91.9524 32.5533C91.9524 30.5074 90.648 29.2302 88.9166 29.2302C87.9848 29.2302 86.8435 29.7426 86.3039 30.4802V34.6846C86.8474 35.461 87.981 35.8997 88.9166 35.8997Z" fill="#04a8e1" fill-opacity="0.3"></path>
              </g>
              <path d="M97.0264 20.4912H101.398V39.4246H97.0264V20.4912ZM102.02 32.5544C102.02 28.5791 105.002 25.3724 109.288 25.3724C113.348 25.3724 116.299 28.3539 116.299 33.0087V34.0024H106.535C106.846 35.2214 107.983 36.2463 109.967 36.2463C110.934 36.2463 112.525 35.818 113.317 35.0817L115.219 37.9468C113.856 39.1697 111.586 39.7637 109.486 39.7637C105.258 39.7637 102.02 37.0113 102.02 32.5547M109.288 28.8938C107.385 28.8938 106.648 30.0273 106.477 31.0212H112.125C112.013 30.0546 111.302 28.8938 109.288 28.8938Z" fill="#04a8e1" fill-opacity="0.3"></path>
              </g>
              <defs>
              <clippath id="clip0_32_31928">
              <rect width="120" height="60" fill="white"></rect>
              </clippath>
              </defs>
            </svg>
          </li>
          <li class="new_hero_banner_logo_item">
            <svg width="125" height="60" viewbox="0 0 125 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M105.25 21.406V38.656H113.75C116.125 38.656 117.5 38.281 118.5 37.406C119.75 36.281 120.375 34.281 120.375 30.031C120.375 25.781 119.75 23.781 118.5 22.656C117.5 21.781 116.125 21.406 113.75 21.406H105.25ZM116.875 30.031C116.875 33.781 116.625 34.656 115.875 35.156C115.375 35.531 114.75 35.656 113.5 35.656H108.75V24.281H113.5C114.75 24.281 115.375 24.281 115.875 24.781C116.625 25.406 116.875 26.281 116.875 30.031ZM124.75 42.469H99.812V17.531H124.75V42.469ZM79.438 24.281V21.406H94.188V26.906H91.062V24.281H85.062V28.406H89.812V31.156H85.062V35.781H91.188V32.781H94.312V38.656H79.439V35.781H81.813V24.281H79.438ZM66.063 34.156C66.063 36.031 66.187 37.406 66.437 38.531H69.813C69.687 37.656 69.563 36.031 69.563 33.906C69.437 31.406 68.687 31.031 66.937 30.656C68.937 30.281 69.813 29.406 69.813 26.281C69.813 23.781 69.437 22.781 68.687 22.156C68.187 21.656 67.313 21.406 65.937 21.406H55.437V38.656H58.937V31.906H63.813C64.813 31.906 65.187 32.031 65.563 32.281C65.939 32.531 66.063 32.906 66.063 34.156ZM58.937 29.156V24.406H64.563C65.313 24.406 65.563 24.531 65.687 24.656C65.937 24.906 66.187 25.281 66.187 26.781C66.187 28.281 65.937 28.781 65.687 29.031C65.563 29.156 65.313 29.281 64.563 29.281L58.937 29.156ZM74.813 42.469H49.813V17.531H74.75V42.469H74.813ZM43.313 35.781V38.656H31.437V35.781H35.687V24.281H31.437V21.406H43.312V24.281H39.062V35.781H43.313ZM23.25 21.406H20L17.625 35.031L14.875 22.406C14.75 21.531 14.375 21.406 13.625 21.406H11.875C11.125 21.406 10.75 21.656 10.625 22.406L7.875 35.031L5.5 21.406H2L5.375 37.781C5.5 38.531 5.75 38.656 6.625 38.656H9C9.75 38.656 10 38.531 10.25 37.781L12.875 25.906L15.5 37.781C15.625 38.531 15.875 38.656 16.75 38.656H19C19.75 38.656 20.125 38.531 20.25 37.781L23.25 21.406ZM25 42.469H0V17.531H24.938V42.469H25Z" fill="white" fill-opacity="0.1"></path>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="new_hero_banner_logo_slide_mo">
      <h4>AS SEEN ON</h4>
      <ul class="new_hero_banner_logo_slide as-seen">
        <li class="new_hero_banner_logo_item">
          <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.5597 28.768L32.3877 29.656H32.3577C32.1277 29.14 31.4697 28.453 30.0657 28.453C27.7737 28.453 25.4527 30.229 24.9377 33.008C24.4797 35.443 25.6827 37.592 28.3757 37.592C29.3787 37.592 30.5257 37.192 31.0977 36.36H31.1277L30.9557 37.277H33.4757L35.0517 28.739H32.5597V28.768ZM31.7577 33.008C31.5857 33.838 30.8127 35.214 29.2077 35.214C27.6607 35.214 27.3457 33.839 27.4877 33.064C27.6597 32.09 28.5477 30.858 30.0077 30.858C31.4407 30.858 31.9277 32.004 31.7557 33.008H31.7577ZM36.5137 28.768H38.8917L38.7197 29.656H38.7497C39.0647 29.256 39.6377 28.453 41.1277 28.453L40.6697 31.033C39.4667 31.063 38.5697 31.291 38.3777 32.609L37.4897 37.309H34.8897L36.5137 28.768ZM42.8457 25.416H45.4257L44.2227 31.862H44.2797L47.2297 28.768H50.2377L46.3127 32.521L48.5757 37.306H45.6817L44.0197 33.18H43.9997L43.2257 37.306H40.6757L42.8457 25.416ZM54.3457 28.453C51.7657 28.453 49.4457 30.688 49.0157 33.066C48.5577 35.586 50.2477 37.593 52.7117 37.593C53.6283 37.5888 54.5242 37.32 55.2917 36.819C56.0937 36.332 56.8387 35.587 57.4417 34.642H54.8347C54.4047 35.1 53.9177 35.444 53.1147 35.444C52.1117 35.444 51.3947 34.842 51.4147 33.84H57.8147C57.9007 33.64 57.9297 33.496 57.9867 33.18C58.4737 30.544 56.9557 28.453 54.3457 28.453ZM51.7657 32.093C51.9657 31.577 52.6537 30.633 54.0007 30.633C55.3187 30.633 55.6627 31.578 55.6627 32.093H51.7657ZM21.1577 37.306H23.7077V25.406H21.5297L17.0027 32.166H16.9727V25.406H14.7957L6.80273 37.306H9.89673L14.3947 30.546H14.4247V37.306H16.6307L21.1007 30.546H21.1577V37.306ZM64.4777 28.768H62.8737L63.3317 26.248H61.0967L60.9247 27.222C60.7247 28.339 60.0367 28.682 59.0907 28.769H59.0607L58.6607 30.689H59.9207L58.6887 37.289H61.2387L62.4707 30.689H64.1037L64.4777 28.768Z" fill="white" fill-opacity="0.1"></path>
            <path d="M104.014 34.0699C103.184 36.0179 101.178 37.5939 98.8857 37.5939C96.3057 37.5939 94.6737 35.5599 95.1607 33.0099C95.6187 30.4899 97.9406 28.4549 100.519 28.4549C102.782 28.4549 104.319 29.9729 104.359 32.0549H101.779C101.607 31.4529 101.235 30.8519 100.146 30.8519C98.9427 30.7949 97.9396 31.7969 97.7106 33.0019C97.4806 34.2339 98.1107 35.1789 99.3437 35.1789C100.404 35.1789 101.044 34.5769 101.407 34.0329H104.014V34.0699ZM82.8137 22.3799L77.8577 25.4169H79.2617L74.7636 32.1769H74.7066V25.4169H72.4996L67.9996 32.1779H67.9697V25.4179H65.3896V37.3179H67.6246L72.1227 30.5579H72.1526V37.3179H74.3587L82.3236 25.4179H83.5836L82.8137 22.3799ZM87.6836 37.3069H85.1637L85.3356 36.3899H85.3056C84.7036 37.2199 83.5856 37.6219 82.5836 37.6219C79.8616 37.6219 78.6877 35.4719 79.1457 33.0379C79.6617 30.2579 82.0107 28.4829 84.2737 28.4829C85.6777 28.4829 86.3367 29.1709 86.5657 29.6859H86.5956L86.7676 28.7979H89.2877L87.6836 37.3069ZM83.3857 35.2169C84.9617 35.2169 85.7636 33.8419 85.9356 33.0109C86.1076 31.9809 85.6207 30.8609 84.1877 30.8609C82.7277 30.8609 81.8376 32.0929 81.6676 33.0669C81.4956 33.8689 81.8396 35.2169 83.3876 35.2169H83.3857ZM95.6757 28.7709H94.0716L94.5296 26.2509H92.2946L92.1227 27.2249C91.9227 28.3419 91.2347 28.6849 90.2887 28.7719H90.2587L89.8867 30.6919H91.1467L89.9146 37.2919H92.4646L93.6966 30.6919H95.3297L95.6757 28.7709ZM106.42 25.4189H108.97L108.196 29.6589H108.226C108.77 28.8569 109.516 28.4559 110.633 28.4559C111.435 28.4559 112.353 28.7709 112.783 29.4009C113.327 30.2309 113.27 30.9769 112.983 32.5239L112.095 37.2799H109.545L110.405 32.6399C110.491 32.2399 110.72 30.8349 109.375 30.8349C107.942 30.8349 107.713 32.1249 107.627 32.5549L106.739 37.2819H104.219L106.42 25.4189Z" fill="#43ae47" fill-opacity="0.3"></path>
          </svg>
        </li>
        <li class="new_hero_banner_logo_item">
          <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="">
            <path d="M20.3071 39.4246V26.9045L15.5398 39.4246H13.3814L8.58303 26.9045V39.4246H3.69922V20.4912H10.4852L14.4605 30.938L18.4047 20.4912H25.1907V39.4246H20.3071Z" fill="#04a8e1" fill-opacity="0.3"></path>
            <mask id="mask0_32_31928" style="mask-type:luminance" maskunits="userSpaceOnUse" x="-185" y="-14826" width="1678" height="15235">
            <path d="M-184.192 408.225H1492.89V-14825.3H-184.192V408.225Z" fill="#04a8e1"></path>
            </mask>
            <g mask="">
            <path d="M34.8964 39.4209V38.0621C34.0424 39.0831 32.3963 39.7703 30.6377 39.7703C28.5414 39.7703 25.9248 38.3222 25.9248 35.2554C25.9248 31.9361 28.5375 30.8297 30.6377 30.8297C32.4546 30.8297 34.0734 31.4276 34.8964 32.4486V31.0898C34.8964 29.898 33.8754 29.0711 32.1129 29.0711C30.7542 29.0711 29.3877 29.6146 28.2813 30.5463L26.6624 27.5105C28.4249 26.0042 30.7775 25.3831 32.8816 25.3831C36.1737 25.3831 39.2677 26.602 39.2677 30.8569V39.4209H34.8964ZM34.8964 35.8998V34.6808C34.4422 34.0286 33.4212 33.7102 32.4507 33.7102C31.3171 33.7102 30.265 34.2227 30.265 35.2631C30.265 36.3035 31.3132 36.8548 32.4507 36.8548C33.4212 36.8548 34.4384 36.517 34.8964 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
            <path d="M39.5742 37.6352L41.3911 34.514C42.7719 35.6098 44.4568 36.2537 46.2166 36.358C47.521 36.358 48.0606 35.9892 48.0606 35.3875C48.0606 33.6871 40.0867 35.4457 40.0867 29.8826C40.0867 27.4679 42.183 25.3676 45.9603 25.3676C48.2896 25.3676 50.2191 26.1441 51.6943 27.1845L50.025 30.2786C49.2019 29.4827 47.6413 28.7762 45.9953 28.7762C44.9704 28.7762 44.2871 29.1722 44.2871 29.7079C44.2871 31.2103 52.2339 29.6497 52.2339 35.271C52.2339 37.8837 49.9357 39.7549 46.0225 39.7549C43.5534 39.7549 41.0261 38.9319 39.5781 37.6275M62.0946 39.421V31.4432C62.0946 29.7739 61.2133 29.2304 59.8235 29.2304C58.5424 29.2304 57.6961 29.9408 57.1836 30.5659V39.421H52.8123V20.4878H57.1836V27.3864C58.0066 26.4158 59.6294 25.3676 61.9198 25.3676C65.0411 25.3676 66.462 27.1263 66.462 29.6536V39.421H62.0946Z" fill="#04a8e1" fill-opacity="0.3"></path>
            <path d="M76.0507 39.4209V38.0621C75.1967 39.0831 73.5506 39.7703 71.792 39.7703C69.6957 39.7703 67.0791 38.3222 67.0791 35.2554C67.0791 31.9361 69.6918 30.8297 71.792 30.8297C73.6089 30.8297 75.2277 31.4276 76.0507 32.4486V31.0898C76.0507 29.898 75.0297 29.0711 73.2672 29.0711C71.9085 29.0711 70.542 29.6146 69.4356 30.5463L67.8167 27.5105C69.5792 26.0042 71.9318 25.3831 74.0359 25.3831C77.328 25.3831 80.422 26.602 80.422 30.8569V39.4209H76.0507ZM76.0507 35.8998V34.6808C75.5965 34.0286 74.5755 33.7102 73.605 33.7102C72.4714 33.7102 71.4193 34.2227 71.4193 35.2631C71.4193 36.3035 72.4675 36.8548 73.605 36.8548C74.5755 36.8548 75.5926 36.517 76.0507 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
            <path d="M81.9287 39.4208V20.4876H86.3V27.328C86.7789 26.7094 87.395 26.2107 88.0998 25.8711C88.8045 25.5316 89.5785 25.3604 90.3607 25.3713C93.7964 25.3713 96.4052 28.0656 96.4052 32.5533C96.4052 37.2119 93.7382 39.7625 90.3607 39.7625C89.5831 39.7622 88.8153 39.589 88.1129 39.2553C87.4106 38.9216 86.7913 38.4358 86.3 37.833V39.4208H81.9287ZM88.9166 35.8997C90.648 35.8997 91.9524 34.6186 91.9524 32.5533C91.9524 30.5074 90.648 29.2302 88.9166 29.2302C87.9848 29.2302 86.8435 29.7426 86.3039 30.4802V34.6846C86.8474 35.461 87.981 35.8997 88.9166 35.8997Z" fill="#04a8e1" fill-opacity="0.3"></path>
            </g>
            <path d="M97.0264 20.4912H101.398V39.4246H97.0264V20.4912ZM102.02 32.5544C102.02 28.5791 105.002 25.3724 109.288 25.3724C113.348 25.3724 116.299 28.3539 116.299 33.0087V34.0024H106.535C106.846 35.2214 107.983 36.2463 109.967 36.2463C110.934 36.2463 112.525 35.818 113.317 35.0817L115.219 37.9468C113.856 39.1697 111.586 39.7637 109.486 39.7637C105.258 39.7637 102.02 37.0113 102.02 32.5547M109.288 28.8938C107.385 28.8938 106.648 30.0273 106.477 31.0212H112.125C112.013 30.0546 111.302 28.8938 109.288 28.8938Z" fill="#04a8e1" fill-opacity="0.3"></path>
            </g>
            <defs>
            <clippath id="clip0_32_31928">
            <rect width="120" height="60" fill="white"></rect>
            </clippath>
            </defs>
          </svg>
        </li>
        <li class="new_hero_banner_logo_item">
          <svg width="125" height="60" viewbox="0 0 125 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M105.25 21.406V38.656H113.75C116.125 38.656 117.5 38.281 118.5 37.406C119.75 36.281 120.375 34.281 120.375 30.031C120.375 25.781 119.75 23.781 118.5 22.656C117.5 21.781 116.125 21.406 113.75 21.406H105.25ZM116.875 30.031C116.875 33.781 116.625 34.656 115.875 35.156C115.375 35.531 114.75 35.656 113.5 35.656H108.75V24.281H113.5C114.75 24.281 115.375 24.281 115.875 24.781C116.625 25.406 116.875 26.281 116.875 30.031ZM124.75 42.469H99.812V17.531H124.75V42.469ZM79.438 24.281V21.406H94.188V26.906H91.062V24.281H85.062V28.406H89.812V31.156H85.062V35.781H91.188V32.781H94.312V38.656H79.439V35.781H81.813V24.281H79.438ZM66.063 34.156C66.063 36.031 66.187 37.406 66.437 38.531H69.813C69.687 37.656 69.563 36.031 69.563 33.906C69.437 31.406 68.687 31.031 66.937 30.656C68.937 30.281 69.813 29.406 69.813 26.281C69.813 23.781 69.437 22.781 68.687 22.156C68.187 21.656 67.313 21.406 65.937 21.406H55.437V38.656H58.937V31.906H63.813C64.813 31.906 65.187 32.031 65.563 32.281C65.939 32.531 66.063 32.906 66.063 34.156ZM58.937 29.156V24.406H64.563C65.313 24.406 65.563 24.531 65.687 24.656C65.937 24.906 66.187 25.281 66.187 26.781C66.187 28.281 65.937 28.781 65.687 29.031C65.563 29.156 65.313 29.281 64.563 29.281L58.937 29.156ZM74.813 42.469H49.813V17.531H74.75V42.469H74.813ZM43.313 35.781V38.656H31.437V35.781H35.687V24.281H31.437V21.406H43.312V24.281H39.062V35.781H43.313ZM23.25 21.406H20L17.625 35.031L14.875 22.406C14.75 21.531 14.375 21.406 13.625 21.406H11.875C11.125 21.406 10.75 21.656 10.625 22.406L7.875 35.031L5.5 21.406H2L5.375 37.781C5.5 38.531 5.75 38.656 6.625 38.656H9C9.75 38.656 10 38.531 10.25 37.781L12.875 25.906L15.5 37.781C15.625 38.531 15.875 38.656 16.75 38.656H19C19.75 38.656 20.125 38.531 20.25 37.781L23.25 21.406ZM25 42.469H0V17.531H24.938V42.469H25Z" fill="white" fill-opacity="0.1"></path>
          </svg>
        </li>
        <li class="new_hero_banner_logo_item">
          <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.5597 28.768L32.3877 29.656H32.3577C32.1277 29.14 31.4697 28.453 30.0657 28.453C27.7737 28.453 25.4527 30.229 24.9377 33.008C24.4797 35.443 25.6827 37.592 28.3757 37.592C29.3787 37.592 30.5257 37.192 31.0977 36.36H31.1277L30.9557 37.277H33.4757L35.0517 28.739H32.5597V28.768ZM31.7577 33.008C31.5857 33.838 30.8127 35.214 29.2077 35.214C27.6607 35.214 27.3457 33.839 27.4877 33.064C27.6597 32.09 28.5477 30.858 30.0077 30.858C31.4407 30.858 31.9277 32.004 31.7557 33.008H31.7577ZM36.5137 28.768H38.8917L38.7197 29.656H38.7497C39.0647 29.256 39.6377 28.453 41.1277 28.453L40.6697 31.033C39.4667 31.063 38.5697 31.291 38.3777 32.609L37.4897 37.309H34.8897L36.5137 28.768ZM42.8457 25.416H45.4257L44.2227 31.862H44.2797L47.2297 28.768H50.2377L46.3127 32.521L48.5757 37.306H45.6817L44.0197 33.18H43.9997L43.2257 37.306H40.6757L42.8457 25.416ZM54.3457 28.453C51.7657 28.453 49.4457 30.688 49.0157 33.066C48.5577 35.586 50.2477 37.593 52.7117 37.593C53.6283 37.5888 54.5242 37.32 55.2917 36.819C56.0937 36.332 56.8387 35.587 57.4417 34.642H54.8347C54.4047 35.1 53.9177 35.444 53.1147 35.444C52.1117 35.444 51.3947 34.842 51.4147 33.84H57.8147C57.9007 33.64 57.9297 33.496 57.9867 33.18C58.4737 30.544 56.9557 28.453 54.3457 28.453ZM51.7657 32.093C51.9657 31.577 52.6537 30.633 54.0007 30.633C55.3187 30.633 55.6627 31.578 55.6627 32.093H51.7657ZM21.1577 37.306H23.7077V25.406H21.5297L17.0027 32.166H16.9727V25.406H14.7957L6.80273 37.306H9.89673L14.3947 30.546H14.4247V37.306H16.6307L21.1007 30.546H21.1577V37.306ZM64.4777 28.768H62.8737L63.3317 26.248H61.0967L60.9247 27.222C60.7247 28.339 60.0367 28.682 59.0907 28.769H59.0607L58.6607 30.689H59.9207L58.6887 37.289H61.2387L62.4707 30.689H64.1037L64.4777 28.768Z" fill="white" fill-opacity="0.1"></path>
            <path d="M104.014 34.0699C103.184 36.0179 101.178 37.5939 98.8857 37.5939C96.3057 37.5939 94.6737 35.5599 95.1607 33.0099C95.6187 30.4899 97.9406 28.4549 100.519 28.4549C102.782 28.4549 104.319 29.9729 104.359 32.0549H101.779C101.607 31.4529 101.235 30.8519 100.146 30.8519C98.9427 30.7949 97.9396 31.7969 97.7106 33.0019C97.4806 34.2339 98.1107 35.1789 99.3437 35.1789C100.404 35.1789 101.044 34.5769 101.407 34.0329H104.014V34.0699ZM82.8137 22.3799L77.8577 25.4169H79.2617L74.7636 32.1769H74.7066V25.4169H72.4996L67.9996 32.1779H67.9697V25.4179H65.3896V37.3179H67.6246L72.1227 30.5579H72.1526V37.3179H74.3587L82.3236 25.4179H83.5836L82.8137 22.3799ZM87.6836 37.3069H85.1637L85.3356 36.3899H85.3056C84.7036 37.2199 83.5856 37.6219 82.5836 37.6219C79.8616 37.6219 78.6877 35.4719 79.1457 33.0379C79.6617 30.2579 82.0107 28.4829 84.2737 28.4829C85.6777 28.4829 86.3367 29.1709 86.5657 29.6859H86.5956L86.7676 28.7979H89.2877L87.6836 37.3069ZM83.3857 35.2169C84.9617 35.2169 85.7636 33.8419 85.9356 33.0109C86.1076 31.9809 85.6207 30.8609 84.1877 30.8609C82.7277 30.8609 81.8376 32.0929 81.6676 33.0669C81.4956 33.8689 81.8396 35.2169 83.3876 35.2169H83.3857ZM95.6757 28.7709H94.0716L94.5296 26.2509H92.2946L92.1227 27.2249C91.9227 28.3419 91.2347 28.6849 90.2887 28.7719H90.2587L89.8867 30.6919H91.1467L89.9146 37.2919H92.4646L93.6966 30.6919H95.3297L95.6757 28.7709ZM106.42 25.4189H108.97L108.196 29.6589H108.226C108.77 28.8569 109.516 28.4559 110.633 28.4559C111.435 28.4559 112.353 28.7709 112.783 29.4009C113.327 30.2309 113.27 30.9769 112.983 32.5239L112.095 37.2799H109.545L110.405 32.6399C110.491 32.2399 110.72 30.8349 109.375 30.8349C107.942 30.8349 107.713 32.1249 107.627 32.5549L106.739 37.2819H104.219L106.42 25.4189Z" fill="#43ae47" fill-opacity="0.3"></path>
          </svg>
        </li>
        <li class="new_hero_banner_logo_item">
          <svg width="120" height="60" viewbox="0 0 120 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="">
            <path d="M20.3071 39.4246V26.9045L15.5398 39.4246H13.3814L8.58303 26.9045V39.4246H3.69922V20.4912H10.4852L14.4605 30.938L18.4047 20.4912H25.1907V39.4246H20.3071Z" fill="#04a8e1" fill-opacity="0.3"></path>
            <mask id="mask0_32_31928" style="mask-type:luminance" maskunits="userSpaceOnUse" x="-185" y="-14826" width="1678" height="15235">
            <path d="M-184.192 408.225H1492.89V-14825.3H-184.192V408.225Z" fill="#04a8e1"></path>
            </mask>
            <g mask="">
            <path d="M34.8964 39.4209V38.0621C34.0424 39.0831 32.3963 39.7703 30.6377 39.7703C28.5414 39.7703 25.9248 38.3222 25.9248 35.2554C25.9248 31.9361 28.5375 30.8297 30.6377 30.8297C32.4546 30.8297 34.0734 31.4276 34.8964 32.4486V31.0898C34.8964 29.898 33.8754 29.0711 32.1129 29.0711C30.7542 29.0711 29.3877 29.6146 28.2813 30.5463L26.6624 27.5105C28.4249 26.0042 30.7775 25.3831 32.8816 25.3831C36.1737 25.3831 39.2677 26.602 39.2677 30.8569V39.4209H34.8964ZM34.8964 35.8998V34.6808C34.4422 34.0286 33.4212 33.7102 32.4507 33.7102C31.3171 33.7102 30.265 34.2227 30.265 35.2631C30.265 36.3035 31.3132 36.8548 32.4507 36.8548C33.4212 36.8548 34.4384 36.517 34.8964 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
            <path d="M39.5742 37.6352L41.3911 34.514C42.7719 35.6098 44.4568 36.2537 46.2166 36.358C47.521 36.358 48.0606 35.9892 48.0606 35.3875C48.0606 33.6871 40.0867 35.4457 40.0867 29.8826C40.0867 27.4679 42.183 25.3676 45.9603 25.3676C48.2896 25.3676 50.2191 26.1441 51.6943 27.1845L50.025 30.2786C49.2019 29.4827 47.6413 28.7762 45.9953 28.7762C44.9704 28.7762 44.2871 29.1722 44.2871 29.7079C44.2871 31.2103 52.2339 29.6497 52.2339 35.271C52.2339 37.8837 49.9357 39.7549 46.0225 39.7549C43.5534 39.7549 41.0261 38.9319 39.5781 37.6275M62.0946 39.421V31.4432C62.0946 29.7739 61.2133 29.2304 59.8235 29.2304C58.5424 29.2304 57.6961 29.9408 57.1836 30.5659V39.421H52.8123V20.4878H57.1836V27.3864C58.0066 26.4158 59.6294 25.3676 61.9198 25.3676C65.0411 25.3676 66.462 27.1263 66.462 29.6536V39.421H62.0946Z" fill="#04a8e1" fill-opacity="0.3"></path>
            <path d="M76.0507 39.4209V38.0621C75.1967 39.0831 73.5506 39.7703 71.792 39.7703C69.6957 39.7703 67.0791 38.3222 67.0791 35.2554C67.0791 31.9361 69.6918 30.8297 71.792 30.8297C73.6089 30.8297 75.2277 31.4276 76.0507 32.4486V31.0898C76.0507 29.898 75.0297 29.0711 73.2672 29.0711C71.9085 29.0711 70.542 29.6146 69.4356 30.5463L67.8167 27.5105C69.5792 26.0042 71.9318 25.3831 74.0359 25.3831C77.328 25.3831 80.422 26.602 80.422 30.8569V39.4209H76.0507ZM76.0507 35.8998V34.6808C75.5965 34.0286 74.5755 33.7102 73.605 33.7102C72.4714 33.7102 71.4193 34.2227 71.4193 35.2631C71.4193 36.3035 72.4675 36.8548 73.605 36.8548C74.5755 36.8548 75.5926 36.517 76.0507 35.861" fill="#04a8e1" fill-opacity="0.3"></path>
            <path d="M81.9287 39.4208V20.4876H86.3V27.328C86.7789 26.7094 87.395 26.2107 88.0998 25.8711C88.8045 25.5316 89.5785 25.3604 90.3607 25.3713C93.7964 25.3713 96.4052 28.0656 96.4052 32.5533C96.4052 37.2119 93.7382 39.7625 90.3607 39.7625C89.5831 39.7622 88.8153 39.589 88.1129 39.2553C87.4106 38.9216 86.7913 38.4358 86.3 37.833V39.4208H81.9287ZM88.9166 35.8997C90.648 35.8997 91.9524 34.6186 91.9524 32.5533C91.9524 30.5074 90.648 29.2302 88.9166 29.2302C87.9848 29.2302 86.8435 29.7426 86.3039 30.4802V34.6846C86.8474 35.461 87.981 35.8997 88.9166 35.8997Z" fill="#04a8e1" fill-opacity="0.3"></path>
            </g>
            <path d="M97.0264 20.4912H101.398V39.4246H97.0264V20.4912ZM102.02 32.5544C102.02 28.5791 105.002 25.3724 109.288 25.3724C113.348 25.3724 116.299 28.3539 116.299 33.0087V34.0024H106.535C106.846 35.2214 107.983 36.2463 109.967 36.2463C110.934 36.2463 112.525 35.818 113.317 35.0817L115.219 37.9468C113.856 39.1697 111.586 39.7637 109.486 39.7637C105.258 39.7637 102.02 37.0113 102.02 32.5547M109.288 28.8938C107.385 28.8938 106.648 30.0273 106.477 31.0212H112.125C112.013 30.0546 111.302 28.8938 109.288 28.8938Z" fill="#04a8e1" fill-opacity="0.3"></path>
            </g>
            <defs>
            <clippath id="clip0_32_31928">
            <rect width="120" height="60" fill="white"></rect>
            </clippath>
            </defs>
          </svg>
        </li>
        <li class="new_hero_banner_logo_item">
          <svg width="125" height="60" viewbox="0 0 125 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M105.25 21.406V38.656H113.75C116.125 38.656 117.5 38.281 118.5 37.406C119.75 36.281 120.375 34.281 120.375 30.031C120.375 25.781 119.75 23.781 118.5 22.656C117.5 21.781 116.125 21.406 113.75 21.406H105.25ZM116.875 30.031C116.875 33.781 116.625 34.656 115.875 35.156C115.375 35.531 114.75 35.656 113.5 35.656H108.75V24.281H113.5C114.75 24.281 115.375 24.281 115.875 24.781C116.625 25.406 116.875 26.281 116.875 30.031ZM124.75 42.469H99.812V17.531H124.75V42.469ZM79.438 24.281V21.406H94.188V26.906H91.062V24.281H85.062V28.406H89.812V31.156H85.062V35.781H91.188V32.781H94.312V38.656H79.439V35.781H81.813V24.281H79.438ZM66.063 34.156C66.063 36.031 66.187 37.406 66.437 38.531H69.813C69.687 37.656 69.563 36.031 69.563 33.906C69.437 31.406 68.687 31.031 66.937 30.656C68.937 30.281 69.813 29.406 69.813 26.281C69.813 23.781 69.437 22.781 68.687 22.156C68.187 21.656 67.313 21.406 65.937 21.406H55.437V38.656H58.937V31.906H63.813C64.813 31.906 65.187 32.031 65.563 32.281C65.939 32.531 66.063 32.906 66.063 34.156ZM58.937 29.156V24.406H64.563C65.313 24.406 65.563 24.531 65.687 24.656C65.937 24.906 66.187 25.281 66.187 26.781C66.187 28.281 65.937 28.781 65.687 29.031C65.563 29.156 65.313 29.281 64.563 29.281L58.937 29.156ZM74.813 42.469H49.813V17.531H74.75V42.469H74.813ZM43.313 35.781V38.656H31.437V35.781H35.687V24.281H31.437V21.406H43.312V24.281H39.062V35.781H43.313ZM23.25 21.406H20L17.625 35.031L14.875 22.406C14.75 21.531 14.375 21.406 13.625 21.406H11.875C11.125 21.406 10.75 21.656 10.625 22.406L7.875 35.031L5.5 21.406H2L5.375 37.781C5.5 38.531 5.75 38.656 6.625 38.656H9C9.75 38.656 10 38.531 10.25 37.781L12.875 25.906L15.5 37.781C15.625 38.531 15.875 38.656 16.75 38.656H19C19.75 38.656 20.125 38.531 20.25 37.781L23.25 21.406ZM25 42.469H0V17.531H24.938V42.469H25Z" fill="white" fill-opacity="0.1"></path>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</div>
<style>
    @media (min-width: 640px) {
      .mt-2{
    margin-top: 5rem;
  }
    }
   @media (max-width: 768px) {
     .mt-2{
      margin-top: 1rem !important;
      }
   }
    @media (min-width: 1280px){
  .mt-2{
    margin-top: 6rem;
  }
    }
</style>
<script>
  setTimeout(function(){
    var swiper = new Swiper(".new_hero_banner_balls_slider", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 3,
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 350,
      modifier: 6,
      slideShadows: false
    },
     autoplay: {
        delay: 4500,
      },
        slidesPerView: 'auto',
      loop: true,
  });
    swiper.on('slideChange', function () {


      var datas = Number($(".swiper-slide-active").attr("data-swiper-slide-index")) + 1;
      if(datas == $(".new_hero_banner_balls_slide_block").length) { datas = 0; }

      $(".new_hero_banner_title").removeClass("active");
      $('.new_hero_banner_title[data-index="'+ datas +'"]').addClass("active");

    });
    },1500);
</script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    // setTimeout(function(){
    //   console.log("ad");
    //  $(".new_hero_banner_title_slider").slick({
    //    slidesToShow: 1,
    //    infinite:true,
    //    slidesToScroll: 1,
    //    autoplay: true,
    //    autoplaySpeed: 3600,
    //    vertical: true,
    //    verticalSwiping: true,
    //    pauseOnHover: false,
    //    arrows: false,
    // });
    // }, 1500);


  // setTimeout(function(){
  //   console.log("asssas");
  //   var swiper = new Swiper(".new_hero_banner_title_slider", {
  //   effect: "coverflow",
  //   grabCursor: true,
  //   centeredSlides: true,
  //   slidesPerView: 1,
  //   coverflowEffect: {
  //     rotate: 0,
  //     stretch: 0,
  //     depth: 350,
  //     modifier: 6,
  //     slideShadows: false
  //   },
  //    autoplay: {
  //       delay: 4500,
  //     },
  //       slidesPerView: 'auto',
  //     loop: true,
  // });
  //   },1500);


    // var swiper = new Swiper('.new_hero_banner_title_slider', {
    // direction: 'vertical',
    // slidesPerView: 3,
    // spaceBetween: 30,
    // mousewheel: true,
    // grabCursor: true,
    // loop: true,
    // autoplay: {
    //   delay: 500,
    //   disableOnInteraction: false,
    // },
    // pagination: {
    //   el: '.swiper-pagination',
    //   clickable: true,
    // },
    //   });

  // $(document).ready(function(){
  // var mySwiper = new Swiper('.new_hero_banner_title_slider', {
  //     direction: 'vertical', // Set the direction to vertical
  //     effect: 'slide', // Specify the slide effect
  //     slidesPerView: 1, // Display one slide at a time
  //     loop: true, // Enable infinite loop
  //     autoplay: {
  //         delay: 2000, // Autoplay delay in milliseconds (2 seconds)
  //         reverseDirection: true, // Reverse direction when reaching the end
  //         disableOnInteraction: false, // Do not disable autoplay on user interaction
  //     },
  // });
  // });
</script>
