<div class="new_hero_banner_main">
  <div class="container">
    <div class="new_hero_banner_row">
      <div class="new_hero_banner_info_block">
        <ul class="new_hero_banner_logo_slide as-seen">
          {% for block in section.blocks %}
            {% if block.type == 'logo' %}
              {% if block.settings.logo != blank %}
                <li class="new_hero_banner_logo_item">{{ block.settings.logo }}</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="new_hero_banner_logo_slide_mo">
      <h4>AS SEEN ON</h4>
      <ul class="new_hero_banner_logo_slide as-seen">
        {% for block in section.blocks %}
          {% if block.type == 'logo' %}
            {% if block.settings.logo != blank %}
              <li class="new_hero_banner_logo_item">{{ block.settings.logo }}</li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  setTimeout(function(){
    var swiper = new Swiper(".new_hero_banner_balls_slider", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 3,
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 350,
      modifier: 6,
      slideShadows: false
    },
     autoplay: {
        delay: 4500,
      },
        slidesPerView: 'auto',
      loop: true,
  });
    swiper.on('slideChange', function () {


      var datas = Number($(".swiper-slide-active").attr("data-swiper-slide-index")) + 1;
      if(datas == $(".new_hero_banner_balls_slide_block").length) { datas = 0; }

      $(".new_hero_banner_title").removeClass("active");
      $('.new_hero_banner_title[data-index="'+ datas +'"]').addClass("active");

    });
    },1500);
</script>

{% schema %}
{
  "name": "As Seen",
  "class": "sw--hero-banner",
  "settings": [

    {
      "type" : "html",
      "id" : "payment_icon",
      "label" :"Payment Icon"
    }
  ],
  "blocks":[
    {
      "type": "logo",
      "name": "Logo Slider",
      "settings": [
        {
          "type": "html",
          "id": "logo",
          "label": "Select Logo"
        }
      ]
    },
  ],
  "presets":[
    {
      "name": "New Hero Banner"
    }
  ]
}
{% endschema %}

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    // setTimeout(function(){
    //   console.log("ad");
    //  $(".new_hero_banner_title_slider").slick({
    //    slidesToShow: 1,
    //    infinite:true,
    //    slidesToScroll: 1,
    //    autoplay: true,
    //    autoplaySpeed: 3600,
    //    vertical: true,
    //    verticalSwiping: true,
    //    pauseOnHover: false,
    //    arrows: false,
    // });
    // }, 1500);


  // setTimeout(function(){
  //   console.log("asssas");
  //   var swiper = new Swiper(".new_hero_banner_title_slider", {
  //   effect: "coverflow",
  //   grabCursor: true,
  //   centeredSlides: true,
  //   slidesPerView: 1,
  //   coverflowEffect: {
  //     rotate: 0,
  //     stretch: 0,
  //     depth: 350,
  //     modifier: 6,
  //     slideShadows: false
  //   },
  //    autoplay: {
  //       delay: 4500,
  //     },
  //       slidesPerView: 'auto',
  //     loop: true,
  // });
  //   },1500);


    // var swiper = new Swiper('.new_hero_banner_title_slider', {
    // direction: 'vertical',
    // slidesPerView: 3,
    // spaceBetween: 30,
    // mousewheel: true,
    // grabCursor: true,
    // loop: true,
    // autoplay: {
    //   delay: 500,
    //   disableOnInteraction: false,
    // },
    // pagination: {
    //   el: '.swiper-pagination',
    //   clickable: true,
    // },
    //   });

  // $(document).ready(function(){
  // var mySwiper = new Swiper('.new_hero_banner_title_slider', {
  //     direction: 'vertical', // Set the direction to vertical
  //     effect: 'slide', // Specify the slide effect
  //     slidesPerView: 1, // Display one slide at a time
  //     loop: true, // Enable infinite loop
  //     autoplay: {
  //         delay: 2000, // Autoplay delay in milliseconds (2 seconds)
  //         reverseDirection: true, // Reverse direction when reaching the end
  //         disableOnInteraction: false, // Do not disable autoplay on user interaction
  //     },
  // });
  // });
</script>
