<div class="container">

  {% if section.settings.text != blank %}
    <div class="announcement_bar_main">
      <h2>
        <span>{{ section.settings.icon }}</span>
        {{ section.settings.text }}
      </h2>
    </div>
  {% endif %}
  
</div>


{% schema %}
  {
    "name": "Announcement Bar",
    "class": "is--announcement-bar",
    "settings": [
      {
        "type": "html",
        "id": "icon",
        "label": "Icon "
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text "
      }
    ],
    "presets":[
      {
        "name": "Announcement Bar"
      }
    ]
  }
{% endschema %}