<section class="flash_it_sec">
            <div class="flash_it_details">
                <div class="flash_it_img">
                    <img class="dark_ball" src="https://cdn.shopify.com/s/files/1/0283/8190/4984/files/ball-dark.png?v=1693291780" alt="">
                    <img class="light_ball" src="https://cdn.shopify.com/s/files/1/0283/8190/4984/files/ball-light.png?v=1693291781" alt="">
                </div>

                <div class="shape_wrap">
                    <img src="assets/images/shape.png" alt="">
                </div>

                <div class="flash_it_block">
                    <div class="flash_it_content">
                        <span><svg width="9" height="11" viewBox="0 0 9 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.01562 10.1641L4.5 10.7031L3.96094 10.1641L0.585938 6.78906L0.046875 6.25L1.125 5.19531L1.64062 5.73438L3.75 7.82031V1V0.25H5.25V1V7.82031L7.33594 5.73438L7.875 5.19531L8.92969 6.25L8.39062 6.78906L5.01562 10.1641Z"
                                    fill="white" fill-opacity="0.4" />
                            </svg></span>
                        <p>flash IT</p>
                        <span><svg width="9" height="11" viewBox="0 0 9 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.01562 10.1641L4.5 10.7031L3.96094 10.1641L0.585938 6.78906L0.046875 6.25L1.125 5.19531L1.64062 5.73438L3.75 7.82031V1V0.25H5.25V1V7.82031L7.33594 5.73438L7.875 5.19531L8.92969 6.25L8.39062 6.78906L5.01562 10.1641Z"
                                    fill="white" fill-opacity="0.4" />
                            </svg></span>
                    </div>

                    <div class="switch_button_wrap">
                        <span class="dark_icon"><svg width="13" height="25" viewBox="0 0 13 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.25 1.28906C0.25 0.585938 0.835938 0.0390625 1.5 0.0390625H11.5C12.2031 0.0390625 12.75 0.625 12.75 1.28906V2.53906C12.75 4.96094 12.0469 7.34375 10.6797 9.41406L10.25 10.0391V23.125C10.25 24.1797 9.42969 25 8.375 25H4.625C3.60938 25 2.75 24.1797 2.75 23.125L2.75 10.0391L2.35938 9.41406C0.992188 7.38281 0.25 5 0.25 2.53906V1.28906ZM10.7969 3.75H2.24219C2.4375 5.39062 2.98438 6.99219 3.92188 8.35938L4.625 9.45313L4.625 23.125H8.375V9.45313L9.11719 8.35938C10.0547 6.99219 10.6016 5.39062 10.7969 3.75ZM5.5625 13.9063C5.5625 13.3984 5.99219 12.9688 6.5 12.9688C7.04688 12.9688 7.4375 13.3984 7.4375 13.9063V14.8438C7.4375 15.3906 7.04688 15.7813 6.5 15.7813C5.99219 15.7813 5.5625 15.3906 5.5625 14.8438V13.9063Z"
                                    fill="white" fill-opacity="0.8" />
                            </svg></span>
                        <div class="switch_btn">
                            <input type="checkbox" class="checkbox" id="checkbox">
                            <label for="checkbox" class="checkbox-label">
                                <span class="ball"></span>
                            </label>
                        </div>
                        <span class="light_icon"><svg width="21" height="35" viewBox="0 0 21 35" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.25 11.2891C4.25 10.5859 4.83594 10.0391 5.5 10.0391H15.5C16.2031 10.0391 16.75 10.625 16.75 11.2891V12.5391C16.75 14.9609 16.0469 17.3438 14.6797 19.4141L14.25 20.0391V33.125C14.25 34.1797 13.4297 35 12.375 35H8.625C7.60938 35 6.75 34.1797 6.75 33.125L6.75 20.0391L6.35938 19.4141C4.99219 17.3828 4.25 15 4.25 12.5391V11.2891ZM14.7969 13.75H6.24219C6.4375 15.3906 6.98438 16.9922 7.92188 18.3594L8.625 19.4531L8.625 33.125H12.375V19.4531L13.1172 18.3594C14.0547 16.9922 14.6016 15.3906 14.7969 13.75ZM9.5625 23.9062C9.5625 23.3984 9.99219 22.9688 10.5 22.9688C11.0469 22.9688 11.4375 23.3984 11.4375 23.9062V24.8438C11.4375 25.3906 11.0469 25.7812 10.5 25.7812C9.99219 25.7812 9.5625 25.3906 9.5625 24.8438V23.9062Z"
                                    fill="#545356" />
                                <path class="light_line"
                                    d="M10.3223 6.125C9.55664 6.125 9.00977 5.57812 9.00977 4.8125V1.3125C9.00977 0.601562 9.55664 0 10.3223 0C11.0332 0 11.6348 0.601562 11.6348 1.3125V4.8125C11.6348 5.57812 11.0332 6.125 10.3223 6.125ZM2.88477 7.47656L0.369141 4.96094C-0.123047 4.46875 -0.123047 3.64844 0.369141 3.10156C0.916016 2.60938 1.73633 2.60938 2.22852 3.10156L4.74414 5.61719C5.23633 6.10938 5.23633 6.92969 4.74414 7.47656C4.4707 7.69531 4.14258 7.85938 3.81445 7.85938C3.48633 7.85938 3.10352 7.69531 2.88477 7.47656ZM16.7754 7.85938C16.4473 7.85938 16.1191 7.69531 15.8457 7.47656C15.3535 6.92969 15.3535 6.10938 15.8457 5.61719L18.3613 3.10156C18.8535 2.60938 19.6738 2.60938 20.2207 3.10156C20.7129 3.64844 20.7129 4.46875 20.2207 4.96094L17.7051 7.47656C17.4863 7.69531 17.1035 7.85938 16.7754 7.85938Z"
                                    fill="white" fill-opacity="0.3" />
                            </svg></span>
                    </div>
                </div>
            </div>
            <div class="bg_text">
                <img src="https://cdn.shopify.com/s/files/1/0283/8190/4984/files/bg_text.svg?v=1693291779" alt="">
            </div>
        </section>


        <section class="valleyball_sect">
            <div class="valleyball_wrap">
                <div class="valleyball_rate">
                    <img src="https://cdn.shopify.com/s/files/1/0283/8190/4984/files/rate.png?v=1693291780" alt="">
                    <p class="rate_text">Rated <b>4.9/5</b> by <b>1700+ customers</b></p>
                </div>

                <div class="valleyball_box">
                    <div class="bg_text_wra">
                        <img src="https://cdn.shopify.com/s/files/1/0283/8190/4984/files/lights_up.svg?v=1693291780" alt="">
                    </div>

                    <div class="valleyball_card">
                        <img src="https://cdn.shopify.com/s/files/1/0283/8190/4984/files/ball-light.png?v=1693291781" alt="" class="ball_img_wrap">

                        <div class="valleyball_label">
                            <a href="#0">VOLLEYBALL<span><svg width="11" height="9" viewBox="0 0 11 9" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.1406 5.03906L6.76562 8.41406L6.25 8.95312L5.17188 7.875L5.71094 7.35938L7.79688 5.25H1H0.25V3.75H1H7.79688L5.71094 1.66406L5.17188 1.125L6.25 0.0703125L6.76562 0.609375L10.1406 3.98438L10.6797 4.5L10.1406 5.03906Z"
                                            fill="white" />
                                    </svg></span></a>
                        </div>
                    </div>
                    <div class="shop_our_button">
                        <a href="#0">Shop Our Bestsellers <span><svg width="15" height="12" viewBox="0 0 15 12"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.6875 6.71875L9.1875 11.2188L8.5 11.9375L7.0625 10.5L7.78125 9.8125L10.5625 7H1.5H0.5V5H1.5H10.5625L7.78125 2.21875L7.0625 1.5L8.5 0.09375L9.1875 0.8125L13.6875 5.3125L14.4062 6L13.6875 6.71875Z"
                                        fill="black" />
                                </svg></span></a>
                    </div>


                    <ul class="pay_card">
                        <li><a href="#0"><svg width="26" height="7" viewBox="0 0 26 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M2.1785 6.098H0.930664V0.25H2.1785V6.098ZM5.29384 0.25H4.07308C4.07308 1.3262 3.61304 2.31393 2.81098 2.9602L2.32732 3.34973L4.2013 6.0982H5.7421L4.01778 3.5692C4.8351 2.6938 5.29384 1.51607 5.29384 0.25ZM7.28417 6.09693H6.1057V0.2516H7.28417V6.09693ZM10.8446 2.053V2.31167C10.5266 2.07833 10.1428 1.9412 9.7289 1.9412C8.63337 1.9412 7.74524 2.89647 7.74524 4.0748C7.74524 5.25313 8.63337 6.20833 9.7289 6.20833C10.1428 6.20833 10.5266 6.0712 10.8446 5.838V6.0964H11.9702V2.053H10.8446ZM10.8412 4.0748C10.8412 4.64933 10.3846 5.11513 9.8213 5.11513C9.25804 5.11513 8.80144 4.64933 8.80144 4.0748C8.80144 3.50027 9.25804 3.0346 9.8213 3.0346C10.3846 3.0346 10.8412 3.50027 10.8412 4.0748ZM22.719 2.31167V2.053H23.8445V6.0964H22.719V5.838C22.401 6.0712 22.0172 6.20833 21.6032 6.20833C20.5076 6.20833 19.6196 5.25313 19.6196 4.0748C19.6196 2.89647 20.5076 1.9412 21.6032 1.9412C22.0172 1.9412 22.401 2.07833 22.719 2.31167ZM21.6956 5.11513C22.2589 5.11513 22.7155 4.64933 22.7155 4.0748C22.7155 3.50027 22.2589 3.0346 21.6956 3.0346C21.1324 3.0346 20.6758 3.50027 20.6758 4.0748C20.6758 4.64933 21.1324 5.11513 21.6956 5.11513ZM24.333 5.42193C24.333 5.00233 24.6492 4.66227 25.0393 4.66227C25.4294 4.66227 25.7456 5.00233 25.7456 5.42193C25.7456 5.84147 25.4294 6.1816 25.0393 6.1816C24.6492 6.1816 24.333 5.84147 24.333 5.42193ZM17.6194 1.9442C17.1698 1.9442 16.7444 2.09433 16.4598 2.5086V2.0532H15.3392V6.0964H16.4736V3.97153C16.4736 3.35667 16.857 3.0556 17.3185 3.0556C17.8132 3.0556 18.0976 3.3734 18.0976 3.9632V6.0964H19.2218V3.52513C19.2218 2.58413 18.5262 1.9442 17.6194 1.9442ZM13.7114 2.05307V2.57967C13.937 2.2638 14.3574 2.05327 14.8144 2.05327V3.22987L14.8082 3.2296C14.8058 3.22947 14.8035 3.22933 14.8011 3.22933C14.3557 3.22933 13.7139 3.57167 13.7139 4.2086V6.0964H12.559V2.05307H13.7114Z"
                                        fill="white" />
                                </svg></a></li>
                        <li><a href="#0"><svg width="22" height="8" viewBox="0 0 22 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.80145 7.90336H3.94365L2.55053 2.34296C2.4844 2.08716 2.344 1.86109 2.13748 1.75449C1.62208 1.48669 1.05414 1.27349 0.43457 1.16603V0.95196H3.42732C3.84038 0.95196 4.15018 1.27349 4.20178 1.64696L4.92465 5.65789L6.78152 0.95196H8.58772L5.80145 7.90336ZM9.62032 7.90336H7.86578L9.31058 0.95196H11.0651L9.62032 7.90336ZM13.3351 2.87769C13.3867 2.50329 13.6965 2.28923 14.0578 2.28923C14.6258 2.23549 15.2445 2.34296 15.7608 2.60989L16.0706 1.11323C15.5543 0.899159 14.9863 0.791626 14.4709 0.791626C12.768 0.791626 11.5289 1.75449 11.5289 3.09083C11.5289 4.10749 12.4066 4.64129 13.0262 4.96283C13.6965 5.28349 13.9546 5.49756 13.903 5.81823C13.903 6.29916 13.3867 6.51329 12.8713 6.51329C12.2517 6.51329 11.6321 6.35296 11.0651 6.08509L10.7553 7.58269C11.3749 7.84963 12.0452 7.95709 12.6647 7.95709C14.5742 8.00996 15.7608 7.04796 15.7608 5.60416C15.7608 3.78589 13.3351 3.67929 13.3351 2.87769ZM21.9013 7.90336L20.5081 0.95196H19.0117C18.7019 0.95196 18.3921 1.16603 18.2889 1.48669L15.7092 7.90336H17.5153L17.8759 6.88763H20.0951L20.3016 7.90336H21.9013ZM19.2698 2.82396L19.7853 5.44383H18.3405L19.2698 2.82396Z"
                                        fill="white" />
                                </svg>
                            </a></li>
                        <li><a href="#0"><svg width="20" height="14" viewBox="0 0 20 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.0651 11.9324C9.02108 12.875 7.66681 13.4441 6.18695 13.4441C2.88488 13.4441 0.208008 10.611 0.208008 7.11634C0.208008 3.62161 2.88488 0.788574 6.18695 0.788574C7.66681 0.788574 9.02108 1.3576 10.0651 2.30019C11.1092 1.3576 12.4635 0.788574 13.9433 0.788574C17.2454 0.788574 19.9223 3.62161 19.9223 7.11634C19.9223 10.611 17.2454 13.4441 13.9433 13.4441C12.4635 13.4441 11.1092 12.875 10.0651 11.9324Z"
                                        fill="#ED0006" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.0645 11.9324C11.35 10.7718 12.1652 9.04481 12.1652 7.11634C12.1652 5.18781 11.35 3.46081 10.0645 2.30019C11.1085 1.3576 12.4628 0.788574 13.9427 0.788574C17.2447 0.788574 19.9216 3.62161 19.9216 7.11634C19.9216 10.611 17.2447 13.4441 13.9427 13.4441C12.4628 13.4441 11.1085 12.875 10.0645 11.9324Z"
                                        fill="#F9A000" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.0645 2.30029C11.3501 3.46089 12.1652 5.18789 12.1652 7.11642C12.1652 9.04489 11.3501 10.7719 10.0645 11.9325C8.779 10.7719 7.96387 9.04489 7.96387 7.11642C7.96387 5.18789 8.779 3.46089 10.0645 2.30029Z"
                                        fill="#FF5E00" />
                                </svg>
                            </a></li>
                        <li><a href="#0"><svg width="26" height="8" viewBox="0 0 26 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.12412 0.791626L0.254883 7.43449H3.68976L4.11559 6.37536H5.0889L5.51477 7.43449H9.29557V6.62609L9.6325 7.43449H11.5882L11.9251 6.60903V7.43449H19.7882L20.7444 6.40283L21.6396 7.43449L25.6783 7.44303L22.8 4.13163L25.6783 0.791626H21.7022L20.7716 1.80423L19.9044 0.791626H11.3504L10.6159 2.50623L9.8641 0.791626H6.43644V1.57249L6.0551 0.791626H3.12412ZM3.78875 1.73489H5.4631L7.36624 6.23949V1.73489H9.20037L10.6704 4.96469L12.0251 1.73489H13.8501V6.50163H12.7396L12.7306 2.76643L11.1116 6.50163H10.1182L8.49024 2.76643V6.50163H6.20577L5.7727 5.43296H3.43284L3.00064 6.50069H1.77664L3.78875 1.73489ZM19.3814 1.73489H14.866V6.49876H19.3115L20.7444 4.91996L22.1254 6.49876H23.5691L21.4707 4.13069L23.5691 1.73489H22.188L20.7625 3.29563L19.3814 1.73489ZM4.60324 2.54143L3.83236 4.44509H5.37324L4.60324 2.54143ZM15.9811 3.59203V2.72183V2.72103H18.7986L20.028 4.11263L18.7441 5.51183H15.9811V4.56189H18.4444V3.59203H15.9811Z"
                                        fill="white" />
                                </svg>
                            </a></li>
                        <li><a href="#0"><svg width="21" height="14" viewBox="0 0 21 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12.2997 7.11634C12.2997 10.611 9.6228 13.4441 6.32074 13.4441C3.01867 13.4441 0.341797 10.611 0.341797 7.11634C0.341797 3.62161 3.01867 0.788574 6.32074 0.788574C9.6228 0.788574 12.2997 3.62161 12.2997 7.11634Z"
                                        fill="#ED0006" />
                                    <path
                                        d="M20.0555 7.11634C20.0555 10.611 17.3787 13.4441 14.0766 13.4441C10.7745 13.4441 8.09766 10.611 8.09766 7.11634C8.09766 3.62161 10.7745 0.788574 14.0766 0.788574C17.3787 0.788574 20.0555 3.62161 20.0555 7.11634Z"
                                        fill="#0099DF" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.1983 2.30029C11.4839 3.46089 12.299 5.18789 12.299 7.11642C12.299 9.04489 11.4839 10.7719 10.1983 11.9325C8.91279 10.7719 8.09766 9.04489 8.09766 7.11642C8.09766 5.18789 8.91279 3.46089 10.1983 2.30029Z"
                                        fill="#6C6BBD" />
                                </svg>
                            </a></li>
                        <li><a href="#0"><svg width="24" height="10" viewBox="0 0 24 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.0231 3.13949C14.0231 4.55122 13.0771 5.55902 11.7551 5.55902H10.5095C10.4957 5.55902 10.4821 5.56189 10.4694 5.56742C10.4567 5.57296 10.4452 5.58102 10.4355 5.59122C10.4258 5.60142 10.4181 5.61349 10.4129 5.62682C10.4077 5.64016 10.4051 5.65442 10.4051 5.66875V7.52429C10.4051 7.55329 10.3941 7.58109 10.3746 7.60169C10.355 7.62222 10.3285 7.63389 10.3007 7.63402H9.42912C9.40839 7.63389 9.38819 7.62742 9.37099 7.61535C9.35372 7.60329 9.34032 7.58615 9.33232 7.56615C9.32712 7.55302 9.32432 7.53902 9.32425 7.52482V0.829155C9.32419 0.814755 9.32685 0.800489 9.33205 0.787222C9.33725 0.773889 9.34492 0.761755 9.35466 0.751555C9.36432 0.741355 9.37585 0.733289 9.38859 0.727755C9.40125 0.722222 9.41486 0.719421 9.42865 0.719421H11.7606C13.0771 0.717821 14.0231 1.72562 14.0231 3.13949ZM12.9362 3.13949C12.9362 2.32782 12.4072 1.73462 11.6897 1.73462H10.5095C10.4957 1.73462 10.4821 1.73749 10.4694 1.74295C10.4567 1.74849 10.4452 1.75662 10.4355 1.76682C10.4258 1.77702 10.4181 1.78909 10.4129 1.80242C10.4077 1.81569 10.4051 1.82996 10.4051 1.84436V4.42829C10.4051 4.45722 10.4161 4.48502 10.4357 4.50549C10.4553 4.52595 10.4818 4.53749 10.5095 4.53749H11.6897C12.4072 4.54275 12.9362 3.94902 12.9362 3.13949ZM14.2816 6.34949C14.2725 6.13296 14.3154 5.91749 14.4062 5.72269C14.4969 5.52789 14.6329 5.35996 14.8015 5.23409C15.1415 4.96636 15.6731 4.82795 16.4535 4.79935L17.2845 4.76862V4.51202C17.2845 3.99775 16.9551 3.78042 16.4261 3.78042C15.8971 3.78042 15.5616 3.97655 15.4846 4.29729C15.4783 4.31989 15.465 4.33962 15.4469 4.35342C15.4287 4.36722 15.4067 4.37435 15.3843 4.37362H14.5633C14.5482 4.37409 14.5332 4.37102 14.5193 4.36469C14.5055 4.35836 14.4931 4.34889 14.4832 4.33702C14.4732 4.32509 14.4659 4.31109 14.4617 4.29589C14.4575 4.28069 14.4565 4.26469 14.4589 4.24909C14.5805 3.48882 15.1851 2.91102 16.4636 2.91102C17.8236 2.91102 18.3147 3.57369 18.3147 4.83855V7.52429C18.3144 7.55355 18.3031 7.58155 18.2831 7.60209C18.2631 7.62269 18.2363 7.63415 18.2083 7.63402H17.3807C17.3531 7.63395 17.3265 7.62249 17.3068 7.60222C17.2971 7.59202 17.2894 7.57995 17.2842 7.56669C17.279 7.55335 17.2763 7.53916 17.2763 7.52482V7.32389C17.2767 7.30729 17.2721 7.29095 17.2634 7.27709C17.2547 7.26322 17.2421 7.25249 17.2274 7.24622C17.2127 7.23995 17.1965 7.23849 17.1811 7.24202C17.1655 7.24562 17.1514 7.25395 17.1405 7.26609C16.8923 7.54862 16.4915 7.75276 15.8494 7.75276C14.9049 7.75276 14.2816 7.23849 14.2816 6.34949ZM17.2845 5.76735V5.55902L16.2082 5.61842C15.6411 5.64862 15.3113 5.89515 15.3113 6.31022C15.3113 6.68555 15.6138 6.89342 16.1423 6.89342C16.8603 6.89342 17.2845 6.48782 17.2845 5.76735ZM19.1457 9.66335V8.88515C19.1459 8.86882 19.1495 8.85275 19.1562 8.83802C19.1629 8.82329 19.1727 8.81036 19.1848 8.80002C19.1969 8.78969 19.211 8.78229 19.2261 8.77829C19.2413 8.77435 19.2571 8.77389 19.2724 8.77695C19.3991 8.80189 19.5283 8.81462 19.6575 8.81515C19.8796 8.82649 20.099 8.75949 20.2804 8.62489C20.4619 8.49035 20.5949 8.29602 20.6583 8.07295L20.712 7.89375C20.7198 7.86969 20.7198 7.84362 20.712 7.81955L18.9876 3.18615C18.9813 3.16935 18.9791 3.15122 18.9811 3.13329C18.983 3.11542 18.9891 3.09829 18.9987 3.08335C19.0084 3.06842 19.0214 3.05622 19.0365 3.04769C19.0517 3.03922 19.0687 3.03469 19.0859 3.03455H19.922C19.9433 3.03475 19.9641 3.04169 19.9817 3.05449C19.9992 3.06722 20.0127 3.08522 20.0203 3.10609L21.1913 6.37389C21.1987 6.39556 21.2123 6.41435 21.2303 6.42769C21.2482 6.44095 21.2697 6.44809 21.2917 6.44809C21.3137 6.44809 21.3351 6.44095 21.3531 6.42769C21.3711 6.41435 21.3847 6.39556 21.392 6.37389L22.409 3.11509C22.4161 3.09282 22.4297 3.07349 22.4479 3.05975C22.4661 3.04602 22.4879 3.03869 22.5104 3.03875H23.3753C23.3927 3.03889 23.4097 3.04335 23.4251 3.05189C23.4403 3.06035 23.4535 3.07262 23.4633 3.08755C23.4731 3.10249 23.4793 3.11969 23.4813 3.13769C23.4835 3.15569 23.4813 3.17395 23.4752 3.19089L21.6307 8.33642C21.2061 9.53242 20.4779 9.83829 19.6763 9.83829C19.5242 9.84256 19.3722 9.82349 19.2253 9.78162C19.2008 9.77482 19.1795 9.75929 19.1649 9.73762C19.1503 9.71602 19.1435 9.68975 19.1457 9.66335ZM3.72339 0.333489C2.62482 0.325289 1.56504 0.757822 0.762036 1.54215C0.727696 1.57509 0.706289 1.62016 0.701976 1.66869C0.697669 1.71722 0.710769 1.76562 0.738723 1.80462L1.23583 2.51502C1.25194 2.53862 1.27282 2.55829 1.29698 2.57262C1.32114 2.58689 1.34801 2.59549 1.37568 2.59775C1.40336 2.60009 1.43118 2.59595 1.45718 2.58575C1.48318 2.57562 1.50674 2.55955 1.52618 2.53882C1.81492 2.23682 2.1583 1.99809 2.53626 1.83649C2.9142 1.67495 3.31915 1.59382 3.72739 1.59782C5.43205 1.59782 6.32239 2.94015 6.32239 4.26549C6.32239 5.70642 5.38699 6.72002 4.04259 6.74022C3.00381 6.74022 2.22091 6.01975 2.22091 5.06815C2.22199 4.82775 2.27405 4.59055 2.37333 4.37375C2.47261 4.15696 2.61664 3.96589 2.79504 3.81435C2.83275 3.78142 2.85658 3.73429 2.86142 3.68309C2.86625 3.63195 2.8517 3.58082 2.82088 3.54082L2.29844 2.85055C2.28264 2.82969 2.263 2.81235 2.24069 2.79955C2.21838 2.78675 2.19384 2.77875 2.16852 2.77602C2.1432 2.77329 2.11762 2.77589 2.09328 2.78369C2.06895 2.79149 2.04636 2.80435 2.02683 2.82142C1.70598 3.09182 1.44706 3.43402 1.26906 3.82275C1.09106 4.21156 0.998502 4.63709 0.998169 5.06815C0.998169 6.70629 2.32884 7.99129 4.03346 8.00189H4.05626C6.08019 7.97435 7.54359 6.40622 7.54359 4.26282C7.54359 2.35969 6.20379 0.333489 3.72386 0.333489H3.72339Z"
                                        fill="white" />
                                </svg>
                            </a></li>
                        <li><a href="#0"><svg width="23" height="10" viewBox="0 0 23 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.22007 1.64783C3.9626 1.97043 3.5508 2.22483 3.13894 2.18849C3.08747 1.75236 3.28907 1.28896 3.52507 1.00269C3.78247 0.671026 4.23294 0.434799 4.59754 0.416626C4.64047 0.870959 4.47314 1.31623 4.22007 1.64783ZM4.59327 2.27483C4.2304 2.25269 3.89934 2.39036 3.63194 2.50156C3.45987 2.57316 3.31414 2.63376 3.20327 2.63376C3.07887 2.63376 2.92714 2.56989 2.75674 2.49823C2.53347 2.40429 2.27828 2.29696 2.01063 2.30209C1.39715 2.31116 0.82657 2.67916 0.513397 3.26523C-0.13011 4.43743 0.34609 6.17296 0.968144 7.12703C1.27274 7.59956 1.63739 8.11749 2.11788 8.09929C2.32926 8.09083 2.48132 8.02249 2.63867 7.95183C2.81987 7.87036 3.00807 7.78583 3.30194 7.78583C3.5856 7.78583 3.7656 7.86816 3.93834 7.94723C4.1026 8.02243 4.2604 8.09463 4.4946 8.09023C4.9922 8.08116 5.3054 7.61769 5.61 7.14523C5.93867 6.63809 6.08314 6.14316 6.10507 6.06803L6.1076 6.05936C6.10714 6.05883 6.10307 6.05683 6.09587 6.05336C5.986 6.00009 5.14614 5.59289 5.13807 4.50103C5.13 3.58456 5.8042 3.12023 5.9104 3.04709C5.91687 3.04263 5.9212 3.03963 5.92314 3.03809C5.49414 2.36569 4.82494 2.29303 4.59327 2.27483ZM8.0382 8.04023V0.957292H10.5479C11.8435 0.957292 12.7487 1.90229 12.7487 3.28343C12.7487 4.66456 11.8263 5.61869 10.5135 5.61869H9.0764V8.04023H8.0382ZM9.07627 1.88409H10.2732C11.1741 1.88409 11.6889 2.39296 11.6889 3.28796C11.6889 4.18303 11.1741 4.69636 10.2689 4.69636H9.07627V1.88409ZM16.1765 7.19063C15.9019 7.74496 15.297 8.09476 14.6449 8.09476C13.6797 8.09476 13.0061 7.48596 13.0061 6.56823C13.0061 5.65956 13.6582 5.13709 14.8637 5.05983L16.1593 4.97809V4.58736C16.1593 4.01036 15.8033 3.69689 15.1683 3.69689C14.6449 3.69689 14.2631 3.98309 14.1859 4.41923H13.2507C13.2807 3.50149 14.0958 2.83363 15.1983 2.83363C16.3867 2.83363 17.1589 3.49243 17.1589 4.51469V8.04023H16.1979V7.19063H16.1765ZM14.9237 7.25422C14.3703 7.25422 14.0185 6.97256 14.0185 6.54096C14.0185 6.09569 14.3574 5.83676 15.0052 5.79589L16.1593 5.71863V6.11843C16.1593 6.78176 15.6273 7.25422 14.9237 7.25422ZM20.3464 8.31736C19.9303 9.55769 19.4541 9.96656 18.4416 9.96656C18.3643 9.96656 18.1069 9.95749 18.0469 9.93936V9.08976C18.1113 9.09883 18.27 9.10789 18.3515 9.10789C18.8105 9.10789 19.0679 8.90349 19.2267 8.37189L19.3211 8.05843L17.5621 2.90183H18.6475L19.8702 7.08616H19.8916L21.1143 2.90183H22.1697L20.3464 8.31736Z"
                                        fill="white" />
                                </svg>
                            </a></li>
                        <li><a href="#0"><svg width="11" height="13" viewBox="0 0 11 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.39597 3.31836C9.38524 3.38993 9.37278 3.46308 9.35891 3.53824C8.88033 6.07799 7.24294 6.95538 5.15178 6.95538H4.08702C3.83126 6.95538 3.61571 7.14726 3.57594 7.40802L2.8764 11.9943C2.85049 12.1656 2.97816 12.3198 3.14527 12.3198H5.03376C5.25734 12.3198 5.44731 12.1519 5.48253 11.924L5.50107 11.8249L5.85664 9.49267L5.8795 9.36475C5.91429 9.13603 6.1047 8.96801 6.32827 8.96801H6.61069C8.44034 8.96801 9.8727 8.20028 10.2913 5.97841C10.4661 5.05029 10.3757 4.27528 9.91291 3.73023C9.77289 3.56591 9.59917 3.42948 9.39597 3.31836"
                                        fill="white" fill-opacity="0.6" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M8.89465 3.11199C8.8215 3.08992 8.74607 3.06998 8.6687 3.05195C8.59089 3.03436 8.51123 3.01879 8.42919 3.00513C8.14212 2.95719 7.82751 2.93445 7.49058 2.93445H4.64613C4.57601 2.93445 4.50947 2.9508 4.44998 2.98037C4.31874 3.04556 4.22131 3.17393 4.19769 3.33108L3.59253 7.29249L3.5752 7.40797C3.61497 7.14721 3.83052 6.95533 4.08628 6.95533H5.15104C7.24219 6.95533 8.87959 6.0775 9.35816 3.53819C9.37247 3.46303 9.3845 3.38989 9.39523 3.31831C9.27417 3.25189 9.14304 3.1951 9.00183 3.14671C8.96694 3.13473 8.93096 3.12319 8.89465 3.11199"
                                        fill="white" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.19815 3.3312C4.22177 3.17404 4.3192 3.04568 4.45044 2.98094C4.51037 2.95125 4.57648 2.9349 4.64659 2.9349H7.49104C7.82797 2.9349 8.14258 2.95775 8.42966 3.00569C8.51169 3.01924 8.59135 3.03493 8.66916 3.05251C8.74654 3.07043 8.82196 3.09048 8.89511 3.11244C8.93142 3.12364 8.9674 3.13529 9.00262 3.14683C9.14383 3.19521 9.27507 3.25245 9.39612 3.31843C9.53852 2.37988 9.39493 1.74085 8.904 1.1622C8.36268 0.525078 7.38581 0.252441 6.13574 0.252441H2.50656C2.25124 0.252441 2.03341 0.444318 1.99396 0.705529L0.482384 10.6088C0.452582 10.8047 0.598776 10.9815 0.789945 10.9815H3.03044L4.19815 3.3312"
                                        fill="white" fill-opacity="0.8" />
                                </svg>
                            </a></li>
                    </ul>
                </div>
            </div>
        </section>

                                         <script>
        const checkbox = document.getElementById("checkbox")
        checkbox.addEventListener("change", () => {
            document.body.classList.toggle("light")
        });


        var scrollHeader = document.querySelector(".flash_it_sec");

        var updateHeader = function() {
        offsetTop = window.pageYOffset;
        scrollHeader.style.opacity = Math.max(0, (500-offsetTop*0.75)/500);
        // scrollHeader.style.transform = "translate3d(0," + -(Math.max(0, (offsetTop*0.8))) + "px," + -(Math.max(0, (offsetTop*0.06))) + "px)";
        }

        window.addEventListener("scroll", updateHeader);
    </script>

{% schema %}
  {
    "name": "Flash It Sec",
    "settings": [],
    "presets" : [
      {
        "name" : "Flash It Sec"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}