<div class="product_revierw_main">
  <h2 class="product_review_title"></h2>
  <div class="product_review_inner">
    {% render 'loox-reviews' %}
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}